.popup__submit {
    background-color: #000;
    color: #fff;
    width: 238px;
    min-height: 46px;
    font-family: 'Inter', Arial, sans-serif;
    border: none;
    border-radius: 2px;
    padding: 0;
    cursor: pointer;
}


.popup__submit:hover {
    opacity: 0.8;
}


@media screen and (min-width: 768px) {
    .popup__submit {
        width: 358px;
        min-height: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .popup__submit {
        width: 358px;
        min-height: 50px;
    }
}