.profile__info {
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 282px;
    flex-wrap: wrap;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .profile__info {
        max-width: 336px;
    }  
}

@media screen and (min-width: 1024px) {
    .profile__info {
        margin: 0;
    }  
}


